/* scss */
@import "var";
* {
	margin: 0;
	padding: 0;
}

body {  
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
}
h1 {
	color: $primary_color;
	padding: 5px;
}
h2 {
	padding:0 20px 20px;
}
p {
	border: 1px solid $secondary_color;
	padding: 20px;
	margin: 30px auto;
	width: 50%;
	font-size: $font-l;
}
a {
	color: $secondary_color;
	display: block;
	font-size: $font-xl;
	padding: 10px;
	width: 100px;
	margin: 10px auto 0;
	&:hover{
		background-color: $second_hover_color;
		color: #fff;
	}
}
.aa{
	//測試 post-css 的 autoprefixer
	display: flex;
}
img {
	width: 100px;
	height: auto;
}
.hide{
	display: none;
}
.bg{
	//測試背景打包路徑
	background-image: url('../img/freepik.jpg');
	background-size: 100% auto;
	width: 100px;
	height: 100px;
	margin: 0 auto;
}